@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply h-full overflow-hidden;
}

input, select {
    @apply outline-none;
}

#nprogress .bar {
    background: #ffcd64 !important;
}

#nprogress .peg {
    box-shadow:
        0 0 10px #ffcd64,
        0 0 5px #ffcd64;
}

body {
    font-family: "Sarabun", sans-serif;
    scroll-behavior: smooth;
}
